[submodule "Tools/developer-roadmap"]
	path = Tools/developer-roadmap
	url = https://github.com/kamranahmedse/developer-roadmap.git
[submodule "Tools/awesome.git"]
	path = Tools/awesome.git
	url = https://github.com/sindresorhus/awesome.git
[submodule "Tools/noapes.io"]
	path = Tools/noapes.io
	url = https://github.com/shanezhiu/noapes.io
